:root {
    --golden-brown: #927005;
    --selective-yellow: #FCB504;
    --saffron: #F3BD1E;
    --black: #040008;
    --raisin-black: #231E25;
}

body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f8f9fa;
    color: var(--black);
}

h1 {
    color: var(--black);
}

.card {
    border: none;
    margin-bottom: 20px;
}

.card-body {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-game {
    background-color: var(--selective-yellow);
    border-color: var(--golden-brown);
    border-radius: 50px;
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    transition: transform 0.2s, background-color 0.2s;
}

.btn-game:hover {
    background-color: var(--golden-brown);
    border-color: var(--selective-yellow);
    transform: scale(1.05);
}

.btn-game:active {
    background-color: var(--golden-brown);
    border-color: var(--selective-yellow);
    transform: scale(1);
}

.logo-rounded {
    max-width: 150px;
    border-radius: 15px;
}

.tiktok-link {
    color: var(--black);
    font-size: 1.2rem;
}

.share-btn {
    margin-top: 20px;
}
